body{
  background-image: url("../images/mountains.jpeg");
}

h1{
  text-align: center;
  font-size: 40px;
}

.timeline{
  padding: 50px 0;
}

.timeline-li{
  position:relative;
  list-style-type: none;
  width: 6px;
  background-color: darkgreen;
  margin: 0 auto;
  padding-top: 50px;
}


.timeline-li:before{
  background-color: darkgreen;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0;
}

ul li div{
  color: white;
  position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background-color: darkgreen;
}

ul li:nth-child(odd) div {
  left: 45px;
}

ul li:nth-child(even) div {
  left: -445px;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.timeline-heading{
  font-weight: bold;
}

ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* CL note: the timeline items don't populate as expected on mobile 
   maybe this section needs to be tweaked? */
@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

